---
layout: default
title: A Small Business Owner's Guide to Building a Website
metadesc: "Helping the small business owner maximize their online presence at the lowest cost. Guiding you through the steps of building an effective website."
section_id: home
permalink: index.html
image: images/website-design.jpg
services:
  -
    - title: Business Email
      icon: "mail"
      desc:
        Google's <strong>G Suite</strong> includes Gmail and other Google services to help teams communicate. Simple to set up and manage.
      linktext: Start Your Free Trial
      linktitle: G Suite by Google
      link:
        https://goo.gl/nCwWpT

    - title: Shopping Cart
      icon: "basket"
      desc:
        <strong>Ecwid</strong> seamlessly integrates into any website including Facebook. Manage your shop online and safely collect payments from customers.
      linktext: View Plans &amp; Features
      linktitle: ECWID Shopping Cart
      link: http://open.ecwid.com/j8sZ

    - title: Appointment Scheduling
      icon: "calendar"
      desc:
        <strong>SuperSasS</strong> is an online appointment scheduling system. Schedule classes, meeting rooms, seminars, event registration, or just about anything.
      linktext: View Plans &amp; Features
      linktitle: SuperSaaS Scheduling
      link: http://www.supersaas.com/?af=40938-lampapps
---

<div class='full'>
  	<!--Welcome Title Block-->
    <div class='row'><!--Welcome Title Block-->
  		      <div class='special-title centered-text'>
  		        <h2>The Guide for Building a Business Website</h2>
  		        <p>My goal is to show the average small business owner how to maximize their online presence at the lowest cost. I will guide you through the steps of building a website, choosing an email service, and other low cost (even free) online services that businesses of any size can use.</p>
  		         <p class='shortline'></p>
  		      </div>
    		   <div class="two spacing"></div>
    </div>
    <div class='row'><!--Main Content-->
        <div class="large-9 columns">
        	  {% assign post = site.posts.last %}
        	  {% assign content = post.content %}
        	  <div class='post'>
              <div class='contentxx'>
                {{post.excerpt}}
              <div class="text-center"><a class='button' href='{{post.url}}'>Read more</a></div>
              </div>
            </div>
            <!-- Themeforest Banner -->
              <div style="margin-bottom: 25px;" class="centered-text">
              <a href="https://themeforest.net/?ref=lampapps" target="_blank" style="outline:none;border:0;"><img src="/images/aff/theme_forest_728x90.jpg" alt="Themeforest" /></a>
              </div>
            <!-- End Banner -->
        </div>
        <div class="large-3 columns">
          {% include rightside.html %}
        </div>
        <hr />
    </div>
  <!--Recommended Services-->
	  <div class='row'>
	     <div class='special-title centered-text'>
  	      <h2>Recommended Services</h2>
  	      <p>I only recommend services I use or have otherwise found to be great value to anyone looking to manage a small business online. {{ site.name }} does not provide or support these services.</p>
  	      <p class='shortline'></p>
	    </div>
    	<div class='two spacing'></div>
    </div>
  	{% for row in page.services %}
    <div class="row">
          {% for service in row %}
            <div class='medium-4 large-4 columns icon-text'>
              <i class='icon-{{ service.icon }}'></i>
              <h3>{{service.title}}</h3>
              <p style="text-align: justify;">{{service.desc}}</p>
              <p style="text-align: center"><a href="{{service.link}}" title="{{service.linktitle}}" target="_blank" class="tiny button" rel="nofollow">{{service.linktext}}</a>
            </div>
          {% endfor %}
    </div>
          {% unless forloop.last %}
      <div class="spacing"></div>
          {% endunless %}
    {% endfor %}
</div><!--Full-->
