---
layout: default
metadesc: "Online services that small business owners can use to maximize their web presence at the lowest cost."
title: Online resources that small business owners can use to maximize their web presence at the lowest cost
section_id: resources
permalink: resources.html
js: tag.js
tags: [Hosting, Email, Domain-Name, Design]
---
<div class='full'><!--full-->
  <div class='row'><!--Row-->
    <div class='special-title centered-text'>
      <h2>Resources</h2>
      <p>{{ site.name }} does not provide or support these products and services. We recommend these web development resources, either online or downloaded to your computer, to help you create and maintain your web presence.</p>
      <p class='shortline'></p>
      <div class="two spacing"></div>
    </div>
  </div><!--Row-->
  <div class='row'><!--Row-->
    <div class='large-9 columns'>
      {% include resourcetable.html %}
    </div>
    <div class="large-3 columns">
      {% include rightside.html %}
    </div> 
  </div><!--Row-->
</div><!--full-->