<!-- This include is for the root index.html file only. It displays the latest post-->
<div class='post'>
    <div class='timestamp left text-center'>
      <span class='month'>{{ post.date | date: "%h" }}</span>
      <span class='date'>{{ post.date | date: "%d" }}</span>
    </div>
    <div class='info'>
      <h3>
        {{ post.title }}
      </h3>
      <p>
        By
        <span class='author'>{{post.author}}</span> <!--
        |
        <a href='single.html#comments'>Comments 6</a> -->
      </p>
    </div>
    <div class='content'>
      {{post.excerpt}}
      <a class='button' href='{{post.url}}'>Read more</a>
    </div>
  </div>