---
layout: blog
title: Blog
section_id: blog
---
<div class="row">
  <div class="large-9 columns">
    {% for post in paginator.posts %}
      <div class='post'>
        <div class='timestamp left text-center'>
          <span class='month'>{{ post.date | date: "%h" }}</span>
          <span class='date'>{{ post.date | date: "%d" }}</span>
        </div>
        <div class='info'>
          <h3><a href='{{post.url}}' style="color: #333333;">{{ post.title }}</a></h3>
            <!--<span class='author'>{{post.author}}</span>-->
            Posted:
            <span class='month'>{{ post.date | date: "%B" }}</span>
            <span class='date'>{{ post.date | date: "%d" }},</span>
            <span class='date'>{{ post.date | date: "%Y" }}</span>
            <!--
            - <a href='{{ post.url }}#disqus_thread'></a>
            -->
              <ul class="blog-tags-list" style="margin: 8px 0 5px 0;">
                  {% assign sorted_tags = post.tags | sort %}
                    {% for tag in sorted_tags %}
                      <li class="blog-tag-item tag"><a href="/tag.html#{{ tag }}"><h4>{{ tag }}</h4></a></li>
                    {% endfor %}
              </ul>
        </div>
        <div class='content'>
          {{post.excerpt}}
          <div class="text-center">
            <a class='button' href='{{post.url}}'>Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="large-3 columns">
    {% include rightside.html %}
  </div>
</div>
<script id="dsq-count-scr" src="//lampapps.disqus.com/count.js" async></script>
