---
layout: blog
title: Blog
section_id: blog
---
<div class="row">
  <div class="large-9 columns">
    {% for post in paginator.posts %}
      <div class='post'>
        <div class='timestamp left text-center'>
          <span class='month'>{{ post.date | date: "%h" }}</span>
          <span class='date'>{{ post.date | date: "%d" }}</span>
        </div>
        <div class='info'>
          <h3>
            <a href='{{post.url}}' style="color: #333333;">{{ post.title }}</a>
          </h3>
          <p>
            <!--<span class='author'>{{post.author}}</span>-->
            Posted: 
            <span class='month'>{{ post.date | date: "%B" }}</span>
            <span class='date'>{{ post.date | date: "%d" }},</span>
            <span class='date'>{{ post.date | date: "%Y" }}</span> - 
            <a href='{{ post.url }}#disqus_thread'></a>
            <br /><br />
              {% if post.tags.size > 0 %}Tag{% if post.tags.size > 1 %}s{% endif %}:
                {% assign sorted_tags = post.tags | sort %}
                  {% for tag in sorted_tags %}
                    <span class="tag"><a href="/tag.html#{{ tag }}">{{ tag }}</a></span>
                  {% endfor %}
              {% endif %}
          </p>
        </div>
        <div class='content'>
          {{post.excerpt}}
          <a class='button' href='{{post.url}}'>Read more</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="large-3 columns">
    {% include rightside.html %}
  </div>
</div>
<script id="dsq-count-scr" src="//lampapps.disqus.com/count.js" async></script>
