---
layout: default
section_id: blog
---
<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>The Blog</h2>
      <p>The Business Owner's Guide to Creating their Internet Presence</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include pagination.html %}
      <div class='spacing'></div>
      {{ content }}
      {% include pagination.html %}
    </div>
  </div>
</div>