<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
      <meta name="description" content="{{ page.metadesc }}">
      <title>{{ page.title }}</title>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CDroid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <!--
      <link href='{{ site.url }}/css/framework.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/syntax.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/fontello.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/site.css' rel='stylesheet'>
      -->
      <link href='{{ site.url }}/css/style.css' rel='stylesheet'>
      <script src='{{ site.url }}/js/modernizr.js'></script>
    </head>
    <body>
      <div class='contain-to-grid sticky'>
        <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
          <ul class='title-area'>
            <li class='name'>
              <h1>
                <a href='/'><img src='{{ site.url }}/images/logo.png' title="{{ site.name }}" alt="{{ site.name }}">&nbsp;{{ site.name }}</a>
              </h1>
            </li>
            <li class='toggle-topbar menu-icon'>
              <a href='#'>Menu</a>
            </li>
          </ul>
          <section class='top-bar-section'>
            <ul class="right">
              {% for item in site.data.nav %}
                {% if item.section_id == page.section_id %}
                  {% assign active_class = "active" %}
                {% else %}
                  {% assign active_class = "" %}
                {% endif %}
                {% if item.children %}
                  <li class="has-dropdown {{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                    <ul class='dropdown'>
                      {% for child in item.children %}
                        <li>
                          <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{{active_class}}">
                    <a href="{{ site.url }}/{{ item.path }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </section>
        </nav>
      </div>
      {{ content }}
      <footer class="footer">
        <div class="row full-width">
          <div class="small-12 medium-3 large-4 columns footerleft">
            <h4>Discloser</h4>
            <p>{{ site.name }} may be an affiliate of companies we refer our readers to and may receive compensation if you pay for their products or services. We place quality and value of the services above any compensation we may receive.</p>
          </div>
          <div class="small-12 medium-3 large-4 columns footerleft">
          <h4>Note</h4>
            <p>Recommendations of products or services are based on our experience using these products and services or research of their features and customer support. {{ site.name }} does not provide or support any products or services we recommend. </p>
            <p class="copyright">Copyright 2017 {{ site.name }}</p>
          </div>
          <div class="small-6 medium-3 large-2 columns footerright">
            <h4>About</h4>
            <ul class="footer-links">
              <li><a href="/">Home</a></li>
              <li><a href="/about.html">About</a></li>
              <li><a href="/tos.html">Terms of Service</a></li>
              <li><a href="/privacypolicy.html"> Privacy Policy</a></li>
            </ul>
          </div>
          <div class="small-6 medium-3 large-2 columns footerright">
            <h4>Follow</h4>
            <div class="footer-links">
            <!-- Go to www.addthis.com/dashboard to customize your tools --> 
            <div class="addthis_inline_follow_toolbox"></div>
            </div>
          </div>
        </div>
      </footer>
      <script src='{{ site.url }}/js/jquery.min.js'></script>
      <script src='{{ site.url }}/js/foundation.min.js'></script>
      <script src='{{ site.url }}/js/app.js'></script>
      <!--<script src='{{ site.url }}/js/jquery.countTo.js'></script>
      <script src='{{ site.url }}/js/jquery.appear.js'></script>-->
      <!-- Go to www.addthis.com/dashboard to customize your tools --> 
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54af51b3029c09d0"></script> 
      <script id="dsq-count-scr" src="//lampapps.disqus.com/count.js" async></script>
    </body>
</html>
