---
layout: blog
section_id: blog
---

<div class='post'>
  <div class='timestamp left text-center'>
    <span class='month'>{{ page.date | date: "%h" }}</span>
    <span class='date'>{{ page.date | date: "%d" }}</span>
  </div>
  <div class='info'>
    <h3>
      {{ page.title }}
    </h3>
    <p>
      By
      <span class='author'>{{ page.author }}</span> <!--
      |
      <a href='{{page.url}}#comments'>Comments 6</a> -->
    </p>
  </div>
  <div class='content'>
    {{ content }}
  </div>
</div>
<!-- Comments Go here-->