---
layout: blog
section_id: blog
# Used for single full blog post
---
<div class='post'>
  <div class='timestamp left text-center'>
    <span class='month'>{{ page.date | date: "%h" }}</span>
    <span class='date'>{{ page.date | date: "%d" }}</span>
  </div> 
  <div class='info'>
    <h3>{{ page.title }}</h3>
          <!--<span class='author'>{{post.author}}</span>-->
          Posted: 
          <span class='month'>{{ page.date | date: "%B" }}</span>
          <span class='date'>{{ page.date | date: "%d" }},</span>
          <span class='date'>{{ page.date | date: "%Y" }}</span> - 
          <a href='{{ post.url }}#disqus_thread'></a>
            <ul class="blog-tags-list" style="margin: 8px 0 5px 0;">
                {% assign sorted_tags = page.tags | sort %}
                  {% for tag in sorted_tags %}
                    <li class="blog-tag-item tag"><a href="/tag.html#{{ tag }}"><h4>{{ tag }}</h4></a></li>
                  {% endfor %}
            </ul>
        {% include share.html %}
        <br />
  </div>
  <div class='content'>
    {{ content }}
          <hr >
          <div class='spacing'></div>

      <!-- disqus Comments Go here -->
      <div id="disqus_thread"></div>
      <script>
      var disqus_config = function () {
      this.page.url = '{{ site.url }}{{ page.url }}';
      this.page.identifier = '{{ page.id }}';
      this.page.title ='{{ page.title }}';
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//lampapps.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <script id="dsq-count-scr" src="//lampapps.disqus.com/count.js" async></script>
      <!-- disqus comments end here -->

  </div>
</div>